@model IEnumerable<SmallShopSystem.Models.Order>

@{
    ViewData["Title"] = "订单管理";
}

<h1>订单管理</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                图书
            </th>
            <th>
                数量
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <span class="badge bg-info text-dark">@Html.DisplayFor(modelItem => item.Status)</span>
            </td>
            <td>
                @item.Book?.Title
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.Customer?.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
